[defaults]
collections_path = /usr/share/ansible/collections
host_key_checking = True
interpreter_python = auto_silent
local_tmp = /tmp/ansible-local
remote_tmp = ~/.ansible/tmp
retry_files_enabled = False
roles_path = roles

[ssh_connection]
pipelining = True
retries = 2

[paramiko_connection]
host_key_auto_add = False
look_for_keys = False
