RESTIC_REPOSITORY={{ restic_repository }}
RESTIC_PASSWORD={{ restic_secret_values['platform-publisher-restic-password'] }}
AWS_ACCESS_KEY_ID={{ restic_secret_values['platform-publisher-backup-access-key'] }}
AWS_SECRET_ACCESS_KEY={{ restic_secret_values['platform-publisher-backup-secret-access-key'] }}
