[Unit]
Description=Dholbeat default-deny Docker ingress policy
After=docker.service
BindsTo=docker.service
PartOf=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/sbin/dholbeat-docker-firewall apply

[Install]
WantedBy=multi-user.target
